{% block header %}
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="/">
            FOSSEE <span>Workshops</span>
        </a>
        {% if request.user.profile.is_email_verified %}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'workshop_app:view_own_profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'workshop_app:logout' %}">Logout</a>
            </li>
        </ul>
        {% endif %}
    </nav>
{% endblock %}